  <section class="mapp">
      <h3 class="text-uppercase title-text display-3 m-4">We Are
        <small class="text-muted">Located</small>
      </h3>
      <p class=" m-4 mt-4 mapp"><iframe class="iframe "src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3106.8207616746135!2d-77.12860528465072!3d38.85945967957653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7b474a697c577%3A0x4754f741a9c17885!2s611%20S%20Carlin%20Springs%20Rd%2C%20Arlington%2C%20VA%2022204!5e0!3m2!1sen!2sus!4v1627477570254!5m2!1sen!2sus" 
        width="100%" height="380" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>
    </section>
    <div class="contact-container">
      
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="  form-height" style="background-color: #f1f1f1; background-image: none;">
      <div class="mb-3">
        <h1 class="font1">CONTACT-US</h1>
        <p class="font2">we would love to hear from you</p>
        <label for="exampleInputEmail1" class="form-label font2">Email address</label>
        <input type="email" class="form-control"  id="exampleInputEmail1" aria-describedby="emailHelp" autoGrow/>
        <div id="emailHelp" class="form-text ">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label font2">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-secondary ">Log-In <i class="fas fa-sign-in-alt"></i></button>
    </form> 
    </div>

    
      
