<section id="about" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 my-4">
          <h1 class="text-uppercase title-text display-3">
            About Us
          </h1>
          <p class="text"> Legend says, an Ethiopian goat herder Kaldi first discovered the potential of these beloved
            beans.
            The story goes that that Kaldi discovered coffee after he noticed that after eating the berries from a
            certain tree, his goats became so energetic that
            they did not want to sleep at night.</p>
          <a href="./menu.html" class="btn  hvr-right my-4 text-capitalize">
            Order Here
          </a>

        </div>
        <div class="col-md-6 about-images my-4 d-none d-lg-block">
          <img [src]='coffeeFoam' alt="" class="img-1 img-thumbnail about-img">
          <img [src]="coffeebeen " alt="" class="img-2 img-thumbnail about-img">
          <img [src]="cup2coffee" alt="" class="img-3 img-thumbnail about-img">
          <img [src]="cup3" alt="" class="img-4 img-thumbnail about-img">
          <img [src]="cupcoffee" alt="" class="img-5 img-thumbnail about-img">

        </div>
      </div>
    </div>
  </section>
  <!-- about us -->
