<!--coffee types-->
   
<h3 class="text-uppercase title-text display-3 coffeetype "> Our Coffee
    <small class="text-muted">Types</small>
  </h3>
  <ul class="gallery">
    <li><img [src]="coffeetype1" alt="" class="coffee-pic1"><span>Coffee</span></li>
    <li><img [src]="coffeetype2" alt="" class="coffee-pic2"><span>Late Coffee</span></li>
    <li><img [src]="coffeetype3" alt="" class="coffee-pic1"><span>macha Coffee</span></li>
  

    <li><img [src]="coffeetype5" alt="" class="coffee-pic2"><span>espresso Coffee</span></li>
    <li><img [src]="coffeetype6" alt="" class="coffee-pic1"><span>Coffee with milk</span></li>
    <li><img [src]="coffeetype9" alt="" class="coffee-pic2"><span>pink Coffee</span></li>
    <li><img [src] = "cup2" alt="" class="coffee-pic1"><span>no-foam Coffee</span></li>
    <li><img [src]="cup3" alt="" class="coffee-pic2"><span>Coffee cake</span></li>
    <li><img [src]="cup5" alt="" class="coffee-pic1"><span>Coffee</span></li>
    <li><img [src]="cup6" alt="" class="coffee-pic2"><span>Coffee</span></li>
    
    <li><img [src]="coffeetype8" alt="" class="coffee-pic1"><span>Coffee</span></li>
    
  </ul>

  
  
  <!--menu-->
  <div class=" bg container">
    <h3 class="text-uppercase title-text display-3">Drink
      <small class="text-muted">Menu</small>
    </h3>
    <table class="table table-striped">
     
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Coffee</th>
            <th scope="col">Type</th>
            <th scope="col">$ Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>For men</td>
            <td>black</td>
            <td>$3</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Cheese Foam Coffee</td>
            <td>Drangon Fruit</td>
            <td>$10</td>
          </tr>
          
        </tbody>
        <tbody>
          <tr>
            <th scope="row">3</th>
            <td>Ethiopian</td>
            <td>Black Coffee</td>
            <td>$7</td>
          </tr>
          
          <tr>
            <th scope="row">4</th>
            <td >Early Bird</td>
            <td>Latte</td>
            <td>$8</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th scope="row">5</th>
            <td> Mocha Coffee</td>
            <td>with Milk</td>
            <td>$5</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Italiano</td>
            <td>Esspreso</td>
            <td>$4</td>
          </tr>
          
        </tbody>
        <tbody>
          <tr>
            <th scope="row">7</th>
            <td>DireDawa</td>
            <td>Tea</td>
            <td>$5</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Cheese Foam Macha</td>
            <td>coffee</td>
            <td>$10</td>
          </tr>
          
        </tbody>
        <tbody>
          <tr>
            <th scope="row">9</th>
            <td>Black Tea</td>
            <td>Tea</td>
            <td>$4</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>for men</td>
            <td>coffee</td>
            <td>$5</td>
          </tr>
          
        </tbody>
        <tbody>
          <tr>
            <th scope="row">11</th>
            <td>For love</td>
            <td>Tea</td>
            <td>$5</td>
          </tr>
          <tr>
            <th scope="row">12</th>
            <td>BTS</td>
            <td>coffee</td>
            <td>$5</td>
          </tr>
          
        </tbody>
        <tbody>
          <tr>
            <th scope="row">13</th>
            <td>sweet</td>
            <td>Tea</td>
            <td>$5</td>
          </tr>
          <tr>
            <th scope="row">14</th>
            <td>honey</td>
            <td>tea</td>
            <td>$5</td>
          </tr>
          
        </tbody>
      </table>
  
  </div>
          <!--menu-->