

<header>

  <div class="text-light text-right banner ">
    <h1 class="display-4 text-center font-weight-bold heading">
      <b>Welcome To Coffee Time</b>
    </h1>
    <p class="main text-center">
      "Serving You Is Our Pleasure"
    </p>
    </div>
</header>
<section>
    <h3 class="text-uppercase title-text " style="font-size: 2rem;">Our Coffees
      <small class="text-muted">Comes From</small>
    </h3>
    
    <div class="container container-3">
      <div class="row card-countries  ">
        <div class="col m-4 card-home ">
          <div class="card card-img-top" style="width: 18rem;">
            <img [src]="ethiopia" class="card-img-top" alt="Ethiopian" style="height: 15rem;">
            <div class="card-body">
              <h5 class="card-title">Ethiopia</h5>
              <p class="card-text">Ethipopian`s are proud people in there culture and heritage.
                history shows
                
                
              </p>
              <a href="https://espressocoffeeguide.com/gourmet-coffee/coffees-of-the-americas/brazil-coffee/"
              target="_blank" class="btn btn-secondary">Read More</a>
            </div>
          </div>
        </div>
        <div class="col m-4">
          <div class="card card-img-top" style="width: 18rem;">
            <img [src]="colombia" class="card-img-top" alt="colombia" style="height: 15rem;">
            <div class="card-body">
              <h5 class="card-title">Colombia</h5>
              <p class="card-text">Colombia is a country that have a people proud of their heritage & culture.</p>
              <a href="https://espressocoffeeguide.com/gourmet-coffee/coffees-of-the-americas/brazil-coffee/" target="_blank" class="btn btn-secondary">Read more</a>
            </div>
          </div>
        </div>
        <div class="col m-4">
          <div class="card card-img-top"  style="width: 18rem;">
            <img [src]="brazil" class="card-img-top" alt="..."style="height: 15rem; ">
            <div class="card-body">
              <h5 class="card-title">Brazil</h5>
              <p class="card-text">Brazil is a country that have a people proud of their heritage & culture.</p>
              <a href="https://espressocoffeeguide.com/gourmet-coffee/coffees-of-the-americas/brazil-coffee/" target="_blank"
              class="btn btn-card btn-secondary">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </section>